li{
    border-width: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    max-width:500px;

    margin:20px;
    margin-left: 10px;
    padding: 5px;
}

span{
    padding: 20px;
}