label,
button,
input {
  margin: 20px;
  padding: 10px;
}

button,
input,
form {
  border-color: rgb(102, 76, 67);
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
}

button {
  background-color: rgb(162, 185, 169);
}
button:hover {
  background-color: rgb(106, 141, 115);
}

form {
  max-width: 500px;
}
