ul {
  border-style: solid;
  max-width: 460px;
  border-color: rgb(102, 76, 67);
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
  list-style: square;
  padding-left: 40px;
}

li {
  padding: 10px;
}
